:root {
  --logoWidth: 500px;
}

body {
  background-color: #fff;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}
