{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-react-jsx","transform-object-rest-spread","transform-class-properties"],
  "env": {
    "development": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ]
      ]
    },
    "production": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ]
      ]
    }
  }
}
