{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint-config-airbnb", "eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,                 
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,    
    "comma-dangle": 0, 
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "semi": 0 
  }
}
