@import '../../styles/base.css';

.Main {
  width: var(--logoWidth);
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100px;
  margin: auto;
  max-width: 100%;
}


.Examples{
  font-weight: 600;
  color: #333;
  height: 100%;
}
