@import '../../styles/base.css';

.Main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.Main > div {
  height: 330px;
  width: var(--logoWidth);
}

.Examples {
  color: #333;
  font-weight: 600;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons a {
  width: 36%;
}