@import '../../styles/base.css';

.Main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;

  > div {
    height: 400px;
    width: var(--logoWidth);
  }
}

.txt {
  color: #666;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;

  img {
    width: 40px;
  }

  a {
    display: block;
    margin-top: 90px;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    width: 46%;
  }
}