.LinkButton{
  background: #47BBEA;
  -webkit-border-radius: 4px;
  border: 1px solid transparent;
  -moz-border-radius: 4px ;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: .5rem 1rem;
  margin-left: 30px;
  font-weight: 500;
  text-decoration: none;
}

.LinkButton:hover {
  background: #3cb0fd;
  text-decoration: none;
  border: 1px solid transparent;

}
